# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Vosk model directory (prevents unnecessary large files)
vosk-model/

# Uploads and processed files (prevents temporary user data from being tracked)
uploads/
processed/
audio_segments/

# Vercel cache files (prevents redundant deploy settings)
.vercel/
